@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	image-rendering: auto;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: bicubic;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior: none;
	overflow: overlay;
}
